body {
  background-color: green;
  background-image: url("../images/zooBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
align-items: flex-end;
display: flex;
flex-direction: row;
height: 100vh;
}

.animalContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;

  &:last-of-type {
    left: 23vw;
    position: absolute;
    top: 7vh;
  }

  .infoContainer {
    background: antiquewhite;
    border-radius: 6px;
    border: 2px solid black;
    color: black;
    font-family: sans-serif;
    line-height: 3vh;
    margin: 25px;
    padding: 4px;
    text-align: center;
    width: 40%
  }

  .bat {
    background: url("../images/bat.svg");
    height: 120px;
    width: 120px;
    animation: shimmy 3s infinite;
    animation-direction: alternate;
    transform: translate(20px, 10px);

      @keyframes shimmy {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(20px, 50px);
      }
    }
  }
  .snake {
    background: url("../images/snake.svg");
    height: 120px;
    width: 120px;
  }
  .elephant {
    background: url("../images/elephant.svg");
    height: 300px;
    width: 300px;

  }
}
