body {
  background-color: green;
  background-image: url("../images/zooBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
align-items: flex-end;
display: flex;
flex-direction: row;
height: 100vh;
}

.animalContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;

  &:last-of-type {
    left: 23vw;
    position: absolute;
    top: 7vh;
  }

  .infoContainer {
    background: white;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    font-family: "Vidaloka", serif;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: .5px;
    margin: 20px;
    padding: 0 10px;
    text-align: center;
    width: 40%;
    display: none;
  }

  .bat {
    background: url("../images/bat.svg");
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
    animation: shimmy 3s infinite;
    animation-direction: alternate;
    transform: translate(20px, 10px);

      @keyframes shimmy {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(20px, 50px);
      }
    }
  }
  .snake {
    // image tab instead to prevent repeat
    background: url("../images/snake.svg");
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
    left:0;
    position: relative;
  }
  .elephant {
    background: url("../images/elephant.svg");
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    transition: all 2s ease-in-out;
    position: relative;
  }
  .rotated {
    transform: rotate(-25deg);

  }
}
